{% extends 'admin/base.html.twig' %}
{% import "helpers.html.twig" as helpers %}
{% block body %}
    <div class="container">
        <ul class="list-reset pb-4">
            <li>
                <a class="border-2 border-green bg-green-lighter rounded py-2 px-4 inline-block no-underline text-green-darkest" href="{{ path('admin_episodes_edit', {id: episode.id}) }}">Edit</a>
            </li>
        </ul>
        <article>
            <time class="" datetime="{{ episode.published|date('c', episode.publishedTimeZone) }}" pubdate>
                <span class='month'>{{ episode.published|date('M', episode.publishedTimeZone) }}</span> <span class='day'>{{ episode.published|date('jS', episode.publishedTimeZone) }}</span> <span class='year'>{{ episode.published|date('Y', episode.publishedTimeZone) }}</span> <span class='time-zone'>{{ episode.published|date('e', episode.publishedTimeZone) }}</span>
            </time>
            <header>
                <h1><a class="no-underline text-black" href="{{ path('admin_episodes_show', {id: episode.id}) }}">Episode {{ episode.number }}: {{ episode.title }}</a></h1>
                <h2 class="text-grey-darker font-normal py-2 xl:text-lg">{{ episode.subtitle }}</h2>
            </header>


            {% if episode.download %}
                <div class="controls text-sm">
                    <p class="flex">
                        <span class="duration">{{ helpers.friendlyDuration(episode.duration) }}</span>
                        <span class="size pl-2">{{ helpers.friendlyFileSize(episode.fileSize) }}</span>
                        <span class="download pl-2"><a class="flex no-underline" href="{{ flysystem_managed_asset_url(episode.download) }}">{{ svg('assets/svg/download-icon.svg', {classes: 'h-4 fill-current mr-1'}) }} download</a></span>
                    </p>
                </div>
            {% endif %}

            {% if episode.backgroundImage %}
                <div>
                    <h2>Background Image</h2>
                    <img class="max-w-md" src="{{ flysystem_managed_asset_url(episode.backgroundImage) }}">
                </div>
            {% endif %}
            {% if episode.itunesCard %}
                <div>
                    <h2>iTunes Card</h2>
                    <img class="max-w-md" src="{{ flysystem_managed_asset_url(episode.itunesCard) }}">
                </div>
            {% endif %}
            {% if episode.facebookCard %}
                <div>
                    <h2>Facebook Card</h2>
                    <img class="max-w-md" src="{{ flysystem_managed_asset_url(episode.facebookCard) }}">
                </div>
            {% endif %}
            {% if episode.twitterCard %}
                <div>
                    <h2>Twitter Card</h2>
                    <img class="max-w-md" src="{{ flysystem_managed_asset_url(episode.twitterCard) }}">
                </div>
            {% endif %}
            {% if episode.hdCard %}
                <div>
                    <h2>HD (1080p) Card</h2>
                    <img class="max-w-md" src="{{ flysystem_managed_asset_url(episode.hdCard) }}">
                </div>
            {% endif %}
        </article>
    </div>
{% endblock %}
