{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.number }}: {{ episode.title }} • That Podcast{% endblock %}
{% import "helpers.html.twig" as helpers %}

{% block metas %}
    <meta name="description" content="{{ episode.subtitle }}">

    <!-- Facebook -->
    <meta property="og:title" content="Episode {{ episode.number }}: {{ episode.title }}" />

    {% if episode.facebookCard %}
        <meta property="og:image" content="{{ flysystem_managed_asset_url(episode.facebookCard) }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="628" />
    {% endif %}

    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}" />
    <meta property="og:description" content="{{ episode.subtitle }}" />
    <meta property="og:site_name" content="That Podcast" />

    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="https://www.facebook.com/ThatPodcastIo" />
    <meta property="article:author" content="https://www.facebook.com/simensen" />
    <meta property="article:author" content="https://www.facebook.com/davedevelopment" />


    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Episode {{ episode.number }}: {{ episode.title }}" />
    <meta name="twitter:description" content="{{ episode.subtitle }}" />
    <meta name="twitter:image" content="{{ flysystem_managed_asset_url(episode.twitterCard) }}" />
    <meta name="twitter:image:src" content="{{ flysystem_managed_asset_url(episode.twitterCard) }}" />
    <meta name="twitter:site" content="@thatpodcast" />
    <meta name="twitter:creator" content="@thatpodcast" />
    <meta name="twitter:url" content="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}" />
    <meta name="twitter:label1" value="Published" />
    <meta name="twitter:data1" value="{{ episode.published|date('M jS Y') }}" />
    <meta name="twitter:label2" value="Duration" />
    <meta name="twitter:data2" value="{{ helpers.friendlyDuration(episode.duration) }}" />
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/jplayer/flat.audio/flat.audio.css">
{% endblock %}

{% block hero %}
    <section class="episode">
        <div class="container hero">
            <header class="hero-header">
                <h1 class="hero-title">Episode {{ episode.number }}: {{ episode.title }}</h1>
                {% if episode.subtitle is defined %}
                    <h2 class="hero-subtitle">{{ episode.subtitle }}</h2>
                {% endif %}
            </header>
            <div class="controls">
                <p class="flex hero-subtitle">
                    <span class="duration pr-4 lg:pr-8">{{ helpers.friendlyDuration(episode.duration) }}</span>
                    <span class="size pr-4 lg:pr-8">{{ helpers.friendlyFileSize(episode.fileSize) }}</span>
                    <span class="download lg:pr-8 flex"><a class="no-underline" href="{{ flysystem_managed_asset_url(episode.download) }}">{{ svg('assets/svg/download-icon.svg', {classes: 'fill-current svg-shadow'}) }} download</a></span>
                </p>
            </div>
        </div>
        <div>
            <div style="position: relative; z-index: 2; width: 100%; left: 0; background-color: rgba(0,0,0,.5);" >
                <div class="audio-player container">
                    <div id="jquery_jplayer_audio_1" class="jp-jplayer" data-media-url="{{ flysystem_managed_asset_url(episode.player) }}"></div>

                    <div id="jp_container_audio_1" class="jp-flat-audio">
                        <div class="jp-play-control jp-control">
                            <a class="jp-play jp-button"></a>
                            <a class="jp-pause jp-button"></a>
                        </div>
                        <div class="jp-bar">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                                <div class="jp-details"><span class="jp-title"></span></div>
                                <div class="jp-timing"><span class="jp-duration"></span></div>
                            </div>
                        </div>
                        <div class="jp-no-solution">
                            Media Player Error<br />
                            Update your browser or Flash plugin
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #hero-and-nav {
            background-image:
                    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='),
                    linear-gradient(rgba(0,0,0,.50) 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,.75) 100%),
                    url({{ flysystem_managed_asset_url(episode.backgroundImage) }});
        }
    </style>

{% endblock %}

{% block body %}
    <article class="container py-8 episode-detail">
        <time class="block font-sans text-2xl font-light" datetime="{{ episode.publishedDate|date('c') }}" pubdate>
            <span class='month'>{{ episode.publishedDate|date('M') }}</span> <span class='day'>{{ episode.publishedDate|date('jS') }}</span> <span class='year'>{{ episode.publishedDate|date('Y') }}</span>
        </time>
        {% if episode.contentHtml is defined %}
            <section class="py-4">
                {{ episode.contentHtml|raw }}
            </section>
        {% endif %}
        {% if episode.transcriptHtml is not empty %}
            <section class="py-4">
                <h1>Transcript</h1>
                <div>{{ episode.transcriptHtml|raw }}</div>
            </section>
        {% endif %}
    </article>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/player.js') }}"></script>
{% endblock %}
