{% extends 'base.html.twig' %}

{% block title %}That Podcast with Beau and Dave{% endblock %}

{% block metas %}
    <meta name="description" content="Beau Simensen and Dave Marshall talking about life as dads, programmers, and entrepreneurs." />
    <meta name="keywords" content="beau, beau simensen, dave, dave marshall, podcast, that podcast" />

    <!-- Facebook -->
    <meta property="og:title" content="That Podcast" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/that-podcast-cover-photo.jpg')) }}" />
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}" />
    <meta property="og:description" content="Beau Simensen and Dave Marshall talking about life as dads, programmers, and entrepreneurs." />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="That Podcast" />
    <meta name="twitter:description" content="@beausimensen and @davedevelopment talking about life as dads, programmers, and entrepreneurs." />
    <meta name="twitter:image" content="{{ absolute_url(asset('build/images/that-podcast-cover-photo.jpg')) }}" />
{% endblock %}

{% import "helpers.html.twig" as helpers %}
{% block hero %}
    <div class="container hero">
        <header class="hero-header">
            <h1 class="hero-title">That Podcast</h1>
            <h2 class="hero-subtitle">Beau and Dave talking about life as dads, programmers, and entrepreneurs.</h2>
        </header>
    </div>
    <style>
        #hero-and-nav {
            background-image:
                    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='),
                    linear-gradient(rgba(0,0,0,.50) 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 40%, rgba(0,0,0,.75) 100%),
                    url({{ asset('build/images/red-mic.jpg') }});
        }
    </style>

{% endblock %}
{% block body %}
    <div class="container">
        <ul class="list-reset">
            {% for episode in episodes|reverse %}
                <li class="py-16 {% if not loop.first %} border-t-2 {% endif %} border-grey">
                    <article>
                        {% if episode.published %}
                            <time class="" datetime="{{ episode.published|date('c') }}" pubdate>
                                <span class='month'>{{ episode.published|date('M') }}</span> <span class='day'>{{ episode.published|date('jS') }}</span> <span class='year'>{{ episode.published|date('Y') }}</span> <span class='time-zone'>{{ episode.published|date('e') }}</span>
                            </time>
                        {% endif %}
                        <header>
                            <h1><a class="no-underline text-black" href="{{ path('episode', {path: episode.path}) }}">Episode {{ episode.number }}: {{ episode.title }}</a></h1>
                            <h2 class="text-grey-darker font-normal py-2 xl:text-lg">{{ episode.subtitle }}</h2>
                        </header>


                        <div class="controls text-sm">
                            <p class="flex">
                                <span class="duration">{{ helpers.friendlyDuration(episode.duration) }}</span>
                                <span class="size pl-2">{{ helpers.friendlyFileSize(episode.fileSize) }}</span>
                                <span class="download pl-2"><a class="flex no-underline" href="{{ flysystem_managed_asset_url(episode.download) }}">{{ svg('assets/svg/download-icon.svg', {classes: 'h-4 fill-current mr-1'}) }} download</a></span>
                            </p>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
