<?xml version="1.0" encoding="utf-8"?>
{% import "helpers.html.twig" as helpers %}
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <atom:link href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}" rel="self" type="application/rss+xml"/>
        <title>{% if vip %}[VIP] {% endif %}That Podcast with Beau and Dave</title>
        <link>http://thatpodcast.io</link>
        <language>en-GB</language>
        <copyright>2014 That Podcast, Beau Simensen, and Dave Marshall</copyright>
        <itunes:subtitle>Beau and Dave talking about life as dads, programmers, and entrepreneurs.</itunes:subtitle>
        <itunes:author>Beau Simensen &amp; Dave Marshall</itunes:author>
        <itunes:keywords>php,development,software,entrepreneurship</itunes:keywords>
        <itunes:category text="Technology">
            <itunes:category text="Tech News"/>
        </itunes:category>
        <itunes:summary>
        </itunes:summary>
        <description>{% if vip %}VIP feed including unpublished episodes! {% endif %}Beau and Dave talking about life as dads, programmers, and entrepreneurs.</description>
        <itunes:owner>
            <itunes:name>Beau Simensen &amp; Dave Marshall</itunes:name>
            <itunes:email>hello@thatpodcast.io</itunes:email>
        </itunes:owner>
        <itunes:explicit>no</itunes:explicit>
        <itunes:image href="{{ absolute_url(asset('build/images/that-podcast-cover-photo.jpg')) }}"/>
        {% for episode in episodes|reverse %}
            <item>
                <title>{% if not episode.isPublished %}Future {% endif %}Episode {{ episode.number }}: {{ episode.title }}</title>
                <itunes:author>Beau Simensen &amp; Dave Marshall</itunes:author>
                {% if episode.subtitle %}
                    <itunes:subtitle>{{ episode.subtitle }}</itunes:subtitle>
                {% endif %}
                <itunes:explicit>no</itunes:explicit>
                <itunes:summary>
                    <![CDATA[{{ episode.itunesSummaryHtml|raw }}]]>
                </itunes:summary>
                {% if episode.itunesCard %}
                    <itunes:image href="{{ flysystem_managed_asset_url(episode.itunesCard) }}"/>
                {% endif %}
                <enclosure url="{{ flysystem_managed_asset_url(episode.rss) }}" length="{{ episode.fileSize }}" type="audio/mp3"/>
                <guid>{{ episode.guid }}</guid>
                <pubDate>{{ episode.publishedDate|date("D, d M Y H:i:s O", "Etc/UTC") }}</pubDate>
                <itunes:duration>{{ helpers.friendlyDuration(episode.duration) }}</itunes:duration>
                <link>{{ url('episode', {path: episode.path}) }}</link>
            </item>
        {% endfor %}
    </channel>
</rss>
